{% extends 'messageboard/base.html' %}

{% block content %}
    <form method="get">
        {{ filter.form }}
        <button type="submit">Search</button>
    </form>
    {% for ad in form %}
        <h2>{{ ad.title }}<br></h2>
        {{ ad.text }} <br>
        Call: {{ ad.phone_number  }} <br>
        Published on: {{ ad.date_published }} <br>
        Published by: {{ ad.author }}<br>
        Category: {{ ad.ad_category }}
        <div class="row">
        {% if user.is_authenticated %}
            {% if ad.author == user %}
                <a href="{% url 'update' ad.id %}">Update</a>
                <a href="{% url 'delete' ad.id %}">Delete</a>
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
